<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.example" />

    <context:property-placeholder location="classpath:application.properties"/>

    <alias name="defaultKnowledgePackDTOToModelConverter" alias="knowledgePackDTOToModelConverter"/>
    <bean id="defaultKnowledgePackDTOToModelConverter" class="com.example.converter.KnowledgePackDTOToModelConverter"/>

    <alias name="defaultKnowledgePackEntityToModelConverter" alias="knowledgePackEntityToModelConverter"/>
    <bean id="defaultKnowledgePackEntityToModelConverter" class="com.example.converter.KnowledgePackEntityToModelConverter"/>

    <alias name="defaultKnowledgePackModelToDTOConverter" alias="knowledgePackModelToDTOConverter"/>
    <bean id="defaultKnowledgePackModelToDTOConverter" class="com.example.converter.KnowledgePackModelToDTOConverter"/>

    <alias name="defaultKnowledgePackModelToEntityConverter" alias="knowledgePackModelToEntityConverter"/>
    <bean id="defaultKnowledgePackModelToEntityConverter" class="com.example.converter.KnowledgePackModelToEntityConverter"/>

    <alias name="defaultKnowledgePackSetDTOToModelConverter" alias="knowledgePackSetDTOToModelConverter"/>
    <bean id="defaultKnowledgePackSetDTOToModelConverter" class="com.example.converter.KnowledgePackSetDTOToModelConverter"/>

    <alias name="defaultKnowledgePackSetModelToEntityConverter" alias="knowledgePackSetModelToEntityConverter"/>
    <bean id="defaultKnowledgePackSetModelToEntityConverter" class="com.example.converter.KnowledgePackSetModelToEntityConverter"/>

    <alias name="defaultKnowledgePackSetEntityToModelConverter" alias="knowledgePackSetEntityToModelConverter"/>
    <bean id="defaultKnowledgePackSetEntityToModelConverter" class="com.example.converter.KnowledgePackSetEntityToModelConverter"/>

    <alias name="defaultKnowledgePackSetModelToDTOConverter" alias="knowledgePackSetModelToDTOConverter"/>
    <bean id="defaultKnowledgePackSetModelToDTOConverter" class="com.example.converter.KnowledgePackSetModelToDTOConverter"/>

    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="knowledgePackDTOToModelConverter"/>
                <ref bean="knowledgePackEntityToModelConverter"/>
                <ref bean="knowledgePackModelToDTOConverter"/>
                <ref bean="knowledgePackModelToEntityConverter"/>
                <ref bean="knowledgePackSetDTOToModelConverter"/>
                <ref bean="knowledgePackSetModelToEntityConverter"/>
                <ref bean="knowledgePackSetEntityToModelConverter"/>
                <ref bean="knowledgePackSetModelToDTOConverter"/>
            </set>
        </property>
    </bean>

</beans>